@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|EB+Garamond|Playfair+Display&display=swap')

$font-logo: 'Cinzel Decorative', cursive
$font-content: 'EB Garamond', serif
$font-display: 'Playfair Display', serif

*
  box-sizing: border-box

body
  margin: 0
  overflow-x: hidden

a
  text-decoration: none
  color: #000

header
  display: flex
  justify-content: space-between
  height: 100px

  >div
    padding: 10px

  div.logo p
    font-family: $font-logo
    margin: 10px 0 0 10px
    cursor: pointer
    font-size: 36px

  div.menu
    display: flex

    &>div
      margin: 0 30px

  div.menu>div i
    font-size: 25px
    margin: 10px 5px 10px 25px
    cursor: pointer

  span
    font-size: 1.2em
    position: relative
    top: -3px

  input
    line-height: 25px
    font-family: $font-content
    border-radius: 4px
    border: 1px solid #C5CCCE
    color: #8A999D
    padding: 0 5px 0 5px
    position: relative
    left: -50px

    &:focus
      outline: none
      border-color: #8A999D

  div.form
    transition: transform 0.7s ease, opacity 2s

    &.hidden
      transform: translateY(-130px)
      opacity: 0
      transition: transform 0.7s ease, opacity 0.3s ease

  .nav-icon::after,
  .nav-icon::before,
  .nav-icon div
    display: block
    content: ''
    background-color: #000
    height: 4px
    margin: 4px 0
    border-radius: 3px
    transition: all .2s ease-in-out

  .nav-icon
    padding: 10px 0
    width: 20px
    z-index: 3
    cursor: pointer

    &.open:before
      transform: translateY(8px) rotate(135deg)

    &.open:after
      transform: translateY(-8px) rotate(-135deg)

    &.open div
      transform: scale(0)

menu
  height: 100vh
  position: absolute
  right: 0
  top: 0
  width: 300px
  margin: 0
  transition: 0.7s
  padding: 20px
  z-index: 3
  background-color: #fff

  > div:nth-child(2),
  div.product > div
    margin: 5px

  span
    font-family: $font-content
    cursor: pointer

  &.closed
    transform: translateX(300px)

  span.icon
    font-size: 1.2em
    margin: 0 5px
    font-family: $font-display

  div.productList
    max-height: 300px
    height: auto
    overflow: hidden
    transition: max-height 0.5s ease

    a
      display: flex
      flex-direction: column

    &.hidden
      max-height: 0

    span
      margin: 0 0 0 1em

div.main
  min-height: calc( 100vh - 325px )
  width: 100vw

  div.product
    width: 100%
    display: flex
    flex-wrap: wrap
    padding: 1%
    position: relative

    div.container
      width: 30%
      display: flex
      margin: 1%
      flex-direction: column
      position: relative

      div.image-container,
      div.info-container
        width: 100%
        padding: 1%
        position: relative

      div.info-container
        display: flex
        flex-direction: column

        div:first-child span
          font-family: $font-display

        div
          display: flex
          padding: 1%

          span
            margin: auto
            text-align: center
            font-family: $font-content

      img
        position: absolute
        width: 100%
        transition: all 0.3s ease-in-out
        top: 5%

      .hidden
        opacity: 0

      .shown
        transform: scale(1.1)

      div.image-container
        object-fit: contain
        width: 100%
        height: 33vw
        overflow: hidden

  div.product-detail
    width: 100%
    display: flex
    flex-direction: column

    >div
      display: flex
      width: 100%
      padding: 1%

    div:first-child
      margin: 0 0 10px 30px

      span
        cursor: pointer


    div.detail-info
      >div
        width: 50%
        padding: 1%
        object-fit: contain

        >div:last-child
          min-height: 120px

      div.detail-info-img
        img
          width: 100%

      div.detail-info-info
        display: flex
        flex-direction: column
        padding: 5% 5%
        justify-content: space-evenly

        >div
          font-family: $font-content
          margin: 1px 0

        div.detail-info-name
          font-family: $font-display

        div.detail-info-form
          input[type='radio']
            opacity: 0
            width: 0

          >div
            display: flex
            margin: 40px 0

          label
            border: 1px solid #C5CCCE
            border-radius: 5px
            padding: 5px 10px
            color: #C5CCCE
            cursor: pointer

          input[type='radio']:checked + label
            border-color: #FFF
            background-color: #15323A
            color: #FFF

          label:hover
            border-color: #FFF
            background-color: #8A999D
            color: #FFF

          input[type='text']
            padding: 4px 10px
            width: 4em
            color: #15323A
            text-align: center

          button
            border: 1px solid #8A999D
            padding: 5px 10px
            color: #8A999D
            border-radius: 5px

          button:hover
            background-color: #50666C
            color: #FFF
            border-color: #50666C

          div.quantity
            margin-right: 20px

            button:first-child
              border-radius: 5px 0 0 5px

            button:last-child
              border-radius: 0 5px 5px 0

    div.detail-desc
      >div
        width: 50%
        padding: 1%
        object-fit: contain

      div.detail-desc-img
        img
          width: 100%

      div.detail-desc-desc
        padding: 8% 5%
        display: flex
        align-content: center

      span
        font-family: $font-content

div.account
  min-height: calc( 100vh - 100px )
  width: 100vw
  display: flex
  flex-direction: column
  justify-content: space-evenly
  align-items: center
  padding: 5% 0

  >div:first-child span
    font-size: 2em
    font-family: $font-display

  >div:nth-child(2)
    display: flex
    flex-direction: column

    div
      display: flex
      flex-direction: column
      padding: 5% 0
      font-family: $font-content

    span.invalid
      color: #ff1744
      transition: all 0.5s ease

      &.shown
        height: 21px

      &.hidden
        height: 0
        opacity: 0

  >div:nth-child(3)
    *
      margin: 10px
      font-family: $font-content

    button
      border: 1px solid #8A999D
      padding: 5px 10px
      color: #8A999D
      border-radius: 5px
      cursor: pointer

    button:hover
      background-color: #50666C
      color: #FFF
      border-color: #50666C

    span
      text-decoration: underline
      cursor: pointer

footer
  font-family: $font-content
  background-color: #15323A
  color: #fff
  display: flex

  div
    width: 50%
    padding: 10px 40px
    max-width: 400px
    margin: 0 auto

  h4
    font-family: $font-display
    text-align: center

  p
    color: #8A999D

  div.link p
    text-align: center
    margin: 10px

div.shadow
  position: fixed
  top: 0
  width: 100vw
  height: 100vh
  background-color: #000
  opacity: 0.5
  z-index: 2

div.modal
  &.hidden
    display: none
