@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|EB+Garamond|Playfair+Display&display=swap')

$font-logo: 'Cinzel Decorative', cursive
$font-content: 'EB Garamond', serif
$font-display: 'Playfair Display', serif

*
  box-sizing: border-box

body
  margin: 0

a
  text-decoration: none
  color: #000

header
  display: flex
  justify-content: space-between

  >div
    padding: 10px

  div.logo p
    font-family: $font-logo
    margin: 10px 0 0 10px
    cursor: pointer

  div.menu
    display: flex

    &>div
      margin: 0 30px

  i, p
    font-size: 20px

  i
    margin: 10px 15px
    cursor: pointer

  .nav-icon::after,
  .nav-icon::before,
  .nav-icon div
    display: block
    content: ''
    background-color: #000
    height: 4px
    margin: 4px 0
    border-radius: 3px
    transition: all .2s ease-in-out
    cursor: pointer

  .nav-icon
    padding: 5px 0
    width: 20px

    &.open:before
      transform: translateY(8px) rotate(135deg)

    &.open:after
      transform: translateY(-8px) rotate(-135deg)

    &.open div
      transform: scale(0)

menu
  height: calc(100vh - 60px)
  position: fixed
  right: 0
  width: 300px
  margin: 0
  transition: 0.7s

  span
    font-family: $font-content
    cursor: pointer

  &.closed
    transform: translateX(300px)

  span.icon
    font-size: 1.2em
    margin: 0 5px
    font-family: $font-display

  div.productList
    max-height: 300px
    height: auto
    overflow: hidden
    transition: max-height 0.5s ease

    a
      display: flex
      flex-direction: column

    &.hidden
      max-height: 0

    span
      margin: 0 0 0 1em

footer
  font-family: $font-content
  background-color: #15323A
  color: #fff
  display: flex

  div
    width: 50%
    padding: 10px

  h4
    font-family: $font-display
