@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative|EB+Garamond|Playfair+Display&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  display: flex;
  justify-content: space-between;
  height: 100px;
}
header > div {
  padding: 10px;
}
header div.logo p {
  font-family: "Cinzel Decorative", cursive;
  margin: 10px 0 0 10px;
  cursor: pointer;
  font-size: 36px;
}
header div.menu {
  display: flex;
}
header div.menu > div {
  margin: 0 30px;
}
header div.menu > div i {
  font-size: 25px;
  margin: 10px 5px 10px 25px;
  cursor: pointer;
}
header span {
  font-size: 1.2em;
  position: relative;
  top: -3px;
}
header input {
  line-height: 25px;
  font-family: "EB Garamond", serif;
  border-radius: 4px;
  border: 1px solid #C5CCCE;
  color: #8A999D;
  padding: 0 5px 0 5px;
  position: relative;
  left: -50px;
}
header input:focus {
  outline: none;
  border-color: #8A999D;
}
header div.form {
  transition: transform 0.7s ease, opacity 2s;
}
header div.form.hidden {
  transform: translateY(-130px);
  opacity: 0;
  transition: transform 0.7s ease, opacity 0.3s ease;
}
header .nav-icon::after,
header .nav-icon::before,
header .nav-icon div {
  display: block;
  content: "";
  background-color: #000;
  height: 4px;
  margin: 4px 0;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
header .nav-icon {
  padding: 10px 0;
  width: 20px;
  z-index: 3;
  cursor: pointer;
}
header .nav-icon.open:before {
  transform: translateY(8px) rotate(135deg);
}
header .nav-icon.open:after {
  transform: translateY(-8px) rotate(-135deg);
}
header .nav-icon.open div {
  transform: scale(0);
}

menu {
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  margin: 0;
  transition: 0.7s;
  padding: 20px;
  z-index: 3;
  background-color: #fff;
}
menu > div:nth-child(2),
menu div.product > div {
  margin: 5px;
}
menu span {
  font-family: "EB Garamond", serif;
  cursor: pointer;
}
menu.closed {
  transform: translateX(300px);
}
menu span.icon {
  font-size: 1.2em;
  margin: 0 5px;
  font-family: "Playfair Display", serif;
}
menu div.productList {
  max-height: 300px;
  height: auto;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
menu div.productList a {
  display: flex;
  flex-direction: column;
}
menu div.productList.hidden {
  max-height: 0;
}
menu div.productList span {
  margin: 0 0 0 1em;
}

div.main {
  min-height: calc( 100vh - 325px );
  width: 100vw;
}
div.main div.product {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  position: relative;
}
div.main div.product div.container {
  width: 30%;
  display: flex;
  margin: 1%;
  flex-direction: column;
  position: relative;
}
div.main div.product div.container div.image-container,
div.main div.product div.container div.info-container {
  width: 100%;
  padding: 1%;
  position: relative;
}
div.main div.product div.container div.info-container {
  display: flex;
  flex-direction: column;
}
div.main div.product div.container div.info-container div:first-child span {
  font-family: "Playfair Display", serif;
}
div.main div.product div.container div.info-container div {
  display: flex;
  padding: 1%;
}
div.main div.product div.container div.info-container div span {
  margin: auto;
  text-align: center;
  font-family: "EB Garamond", serif;
}
div.main div.product div.container img {
  position: absolute;
  width: 100%;
  transition: all 0.3s ease-in-out;
  top: 5%;
}
div.main div.product div.container .hidden {
  opacity: 0;
}
div.main div.product div.container .shown {
  transform: scale(1.1);
}
div.main div.product div.container div.image-container {
  object-fit: contain;
  width: 100%;
  height: 33vw;
  overflow: hidden;
}
div.main div.product-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
}
div.main div.product-detail > div {
  display: flex;
  width: 100%;
  padding: 1%;
}
div.main div.product-detail div:first-child {
  margin: 0 0 10px 30px;
}
div.main div.product-detail div:first-child span {
  cursor: pointer;
}
div.main div.product-detail div.detail-info > div {
  width: 50%;
  padding: 1%;
  object-fit: contain;
}
div.main div.product-detail div.detail-info > div > div:last-child {
  min-height: 120px;
}
div.main div.product-detail div.detail-info div.detail-info-img img {
  width: 100%;
}
div.main div.product-detail div.detail-info div.detail-info-info {
  display: flex;
  flex-direction: column;
  padding: 5% 5%;
  justify-content: space-evenly;
}
div.main div.product-detail div.detail-info div.detail-info-info > div {
  font-family: "EB Garamond", serif;
  margin: 1px 0;
}
div.main div.product-detail div.detail-info div.detail-info-info div.detail-info-name {
  font-family: "Playfair Display", serif;
}
div.main div.product-detail div.detail-info div.detail-info-info div.detail-info-form input[type=radio] {
  opacity: 0;
  width: 0;
}
div.main div.product-detail div.detail-info div.detail-info-info div.detail-info-form > div {
  display: flex;
  margin: 40px 0;
}
div.main div.product-detail div.detail-info div.detail-info-info div.detail-info-form label {
  border: 1px solid #C5CCCE;
  border-radius: 5px;
  padding: 5px 10px;
  color: #C5CCCE;
  cursor: pointer;
}
div.main div.product-detail div.detail-info div.detail-info-info div.detail-info-form input[type=radio]:checked + label {
  border-color: #FFF;
  background-color: #15323A;
  color: #FFF;
}
div.main div.product-detail div.detail-info div.detail-info-info div.detail-info-form label:hover {
  border-color: #FFF;
  background-color: #8A999D;
  color: #FFF;
}
div.main div.product-detail div.detail-info div.detail-info-info div.detail-info-form input[type=text] {
  padding: 4px 10px;
  width: 4em;
  color: #15323A;
  text-align: center;
}
div.main div.product-detail div.detail-info div.detail-info-info div.detail-info-form button {
  border: 1px solid #8A999D;
  padding: 5px 10px;
  color: #8A999D;
  border-radius: 5px;
}
div.main div.product-detail div.detail-info div.detail-info-info div.detail-info-form button:hover {
  background-color: #50666C;
  color: #FFF;
  border-color: #50666C;
}
div.main div.product-detail div.detail-info div.detail-info-info div.detail-info-form div.quantity {
  margin-right: 20px;
}
div.main div.product-detail div.detail-info div.detail-info-info div.detail-info-form div.quantity button:first-child {
  border-radius: 5px 0 0 5px;
}
div.main div.product-detail div.detail-info div.detail-info-info div.detail-info-form div.quantity button:last-child {
  border-radius: 0 5px 5px 0;
}
div.main div.product-detail div.detail-desc > div {
  width: 50%;
  padding: 1%;
  object-fit: contain;
}
div.main div.product-detail div.detail-desc div.detail-desc-img img {
  width: 100%;
}
div.main div.product-detail div.detail-desc div.detail-desc-desc {
  padding: 8% 5%;
  display: flex;
  align-content: center;
}
div.main div.product-detail div.detail-desc span {
  font-family: "EB Garamond", serif;
}

div.account {
  min-height: calc( 100vh - 100px );
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5% 0;
}
div.account > div:first-child span {
  font-size: 2em;
  font-family: "Playfair Display", serif;
}
div.account > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
div.account > div:nth-child(2) div {
  display: flex;
  flex-direction: column;
  padding: 5% 0;
  font-family: "EB Garamond", serif;
}
div.account > div:nth-child(2) span.invalid {
  color: #ff1744;
  transition: all 0.5s ease;
}
div.account > div:nth-child(2) span.invalid.shown {
  height: 21px;
}
div.account > div:nth-child(2) span.invalid.hidden {
  height: 0;
  opacity: 0;
}
div.account > div:nth-child(3) * {
  margin: 10px;
  font-family: "EB Garamond", serif;
}
div.account > div:nth-child(3) button {
  border: 1px solid #8A999D;
  padding: 5px 10px;
  color: #8A999D;
  border-radius: 5px;
  cursor: pointer;
}
div.account > div:nth-child(3) button:hover {
  background-color: #50666C;
  color: #FFF;
  border-color: #50666C;
}
div.account > div:nth-child(3) span {
  text-decoration: underline;
  cursor: pointer;
}

footer {
  font-family: "EB Garamond", serif;
  background-color: #15323A;
  color: #fff;
  display: flex;
}
footer div {
  width: 50%;
  padding: 10px 40px;
  max-width: 400px;
  margin: 0 auto;
}
footer h4 {
  font-family: "Playfair Display", serif;
  text-align: center;
}
footer p {
  color: #8A999D;
}
footer div.link p {
  text-align: center;
  margin: 10px;
}

div.shadow {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  z-index: 2;
}

div.modal.hidden {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
